

html, body {

    overflow-x: hidden;
  }
.search{
    padding-right: 50px;
}


.second-nav{
    display: flex;
    background-color: white;
    padding-top: 10px;
    font-size: 20px;
}

.second-search{
    flex:1;
    font-size: 18px;
    margin-top: 2px;
}

.second-logo{
    padding-left: 20px ;
    color: black;
    margin-bottom: 5px;
}

.second-login{
    padding-right: 10px;
}

.second-signup{
    padding-right: 10px;
}

.list{
    display: flex;
    margin-top: 2px;
}

.hamburger{
    position: absolute;
    top :0;
    right : 10px;   
    display: none;
}


.sidebar-list{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    background-color: gray;
    top:0;
    right: 0;
    width: 0px;
    z-index: 1;
    padding-top:20px;
    transition: all 0.5s ease;
    color: white;
    overflow-x: hidden;
}

.second-cross{
    margin-left : auto;
    margin-right: auto;
}

.item{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}




.deactive{
    display: none;
}



.sidebar-list-items{
    margin-top: 50px;
}



@media (max-width:571px){
    
 
    
    .list{
        display: none;
    }

    .hamburger{
        display: block;
        font-size: 20px;
        margin-top: 12px;
    }
}

@media (max-width:375px){
    .second-search{
        font-size: 12px;
        padding-top: 4px;
    }
}


@media (max-width:360px){
    .second-search{
        padding-right: 20px;
    }
}

@media (max-width : 320px){
    .second-search{
        font-size: 12px;
        padding-top: 4px;
    }
}