.divideOrLine {
	margin: 1rem auto;
	width: 100%;
	max-width: 400px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;

	.divideOrLine__line {
		background-color: #333333;
		height: 1px;
		width: 90%;
	}

	.divideOrLine__text {
		z-index: 2;
		padding: 0;
		margin-top: -17px;
		font-size: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
