.arrow > i:hover{
    cursor: pointer;
}

.quesmain-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 800px;
    border-radius: 10px;
}


.up-arrow-color{
    color: rgb(0, 216, 0);
    
}
.down-arrow-color{
    
    color :rgb(255, 0, 0);
}

.question{
    height: 30px;
}

.answer{
    height: 50px;
}


.card-foot{
    display: flex;
}

.time{
    margin-left: auto;
    padding-right: 10px;
}

.avatar{
    padding-left:10px ;
}

.user{
    display: flex;
}

.user img{
    height: 22px;
    width: auto;
}



hr{
    border-top: 3px solid rgb(51, 51, 51);
    opacity: 0.5 !important;
    border-radius: 25px;
    width: 90%;
    margin-right: auto !important;
    margin-left : auto !important;
}


/* Quesmain Question */

.quesmain-question{
    color: white;
}

.quesmain-startline{
    width: 4px;
    height: 100%;
    background-color: peru;
    border-radius: 25px;
    opacity: 0.5;
    z-index: 10;
    padding-top: 0px;
}

.quesmain-ans-startline{
    width: 3px;
    height: 100%;
    background-color: rgb(119, 226, 57);
    border-radius: 25px;
    opacity: 0.5;
    z-index: 10;
    padding-top: 0px;
}

.quesmain-title{
    font-size: 30px;
  
}

.card-foot{
    padding-top:5px;
}




/* Input bar */

.quesmain-inputbar{
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 79px;
    justify-content: center;
    align-items: center;
}

.quesmain-input{
    align-items: center;
}

.quesmain-uploadicon{
    
    margin-right: 5px;
    font-size: 30px;
    
    text-align: center;
}


#quesmain-fileupload{
    display: none;
}


.quesmain-box{
	width: 500px;
	height: 50px;
	background-color: rgb(233, 233, 233);
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 20px;

}

.quesmain-box > i {
	font-size: 20px;
	color: rgb(0, 0, 0);
}

.quesmain-box > input{
	flex: 1;
	height: 40px;
	border: none;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}

@media (max-width : 768px) {
    .quesmain-card{
        width: 540px;
    }

    .quesmain-box{
        height: 20px;
        width: 350px;
    }

    .quesmain-box > input{
        font-size: 14px;
    }
}

@media (max-width:760px){
    .quesmain-box{
        width: 400px;
    }
}

@media (max-width:638px){
    .quesmain-box{
        width: 300px;
    }
}

@media (max-width : 576px) {

    .startline-col{
        font-size: 13px;
    }

    .answer{
        height: 45px;
    }

    .text-col{
        font-size: 14px;
        width: 400px;
    }

    .quesmain-card{
        width: 800px;
    }
}

@media (max-width:540px){
    .quesmain-card{
        width: 500px;
    }
}


@media (max-width:472px){
    .text-col{
        width: 260px;
    }
    .startline-col{
        width: 14px;
      
    }

    .card-foot{
        flex-direction: column;
    }

    .time{
        margin-right: auto;
        margin-left: 0px;
    }

    .quesmain-card{
        width: 335px;
    }
}


@media (max-width:460px){
    .quesmain-box{
        width: 250px;
    }

    .quesmain-box > i{
        font-size: 15px;
        padding-right: 10px;
    }
    
    .quesmain-box > input{
        font-size: 15px;
    }
}


@media (max-width:375px){
    .quesmain-box > i{
        font-size: 15px;
        padding-right: 10px;
    }

    .quesmain-box{
        height: 20px;
        width: 220px;
    }

    .quesmain-box > input{
        font-size: 12px;
    }
    .quesmain-uploadicon{
        font-size: 25px;
    }
}


@media (max-width:320px){
    .text-col{
        width: 230px;
    }

    .quesmain-card{
        width: 290px !important;
    }

    .quesmain-box{
        width: 180px;
    }

    .quesmain-box > input{
        font-size: 10px;
    }
}